<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags for additional information -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>My Webpage</title>
        <!-- Links for any library, or tools used-->
        <link rel="shortcut icon" href="../css/image-gallery/thePhatomLogofavicon.png"/>
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/src/style.css"/>
        <link rel="stylesheet" href="../css/src/responsiveStyle.css"/>
    </head>
    <body>
        <!--Head section-->
        <head>
            <nav>
                <!--Icon of the page-->
                <a class="navbar-brand">
                    <img src="../css/image-gallery/navbarLogoIcon.jpg" width="30" height="30">
                    Joker_LotusZero
                </a>

                <!--Options of the navbar-->
                <div>
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Schedule of activities</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </head>
        <div >
            <div>
                <a href="uni.edu.ni"><img src="../css/image-gallery/logouni12.png" width="30" height="30"></a>

                <h1>National University of Engineering</h1>
                <h2>Faculty of Sciences and Systems</h2>
                <h3>Official Schedule Of Classes</h3>
            </div>


            <table class="table">
                <thead>
                    <th scope="col">PERIOD</th>
                    <th scope="col">Hour</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">3</th>
                        <td>10:30 a.m. - 12:10 p.m.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Operations Research II</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>12:40 p.m. - 2:20 p.m.</td>
                        <td>Graphics Applications and Multimedia<br/> (Systems Lab)</td>
                        <td>Software Engineering II <br/> (JADPA Lab)</td>
                        <td>Operations Research II</td>
                        <td>Graphics Applications and Multimedia<br/> (Systems Lab)</td>
                        <td>Operative Systems<br/> (TSIS Lab)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2:25 p.m. - 4:05 p.m.</td>
                        <td>Software Engineering II <br/> (JADPA Lab)</td>
                        <td>Production III</td>
                        <td>Production III</td>
                        <td>Production III</td>
                        <td>Software Engineering II <br/> (Basic Sciences Lab)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>4:10 p.m. - 5:50 p.m.</td>
                        <td>Operative Systems <br/> (TSIS Lab)</td>
                        <td>Software Engineering II <br/> (JADPA Lab)</td>
                        <td>Organization II</td>
                        <td>Organization II</td>
                        <td>Organization II</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!--Complementing with certain JS libraries-->
        <script src="js/jquery/jquery.min.js"></script>
        <script src="js/popperjs/popper.js"/></script>
    </body>
</html>
