<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for additional information -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>My Webpage</title>
    <!-- Links for any library, or tools used-->
    <link rel="shortcut icon" href="../css/image-gallery/thePhatomLogofavicon.png" />
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/src/style.css" />
    <link rel="stylesheet" href="../css/src/responsiveStyle.css" />
</head>

<body>
    <!--Head section-->

    <head class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light row">
            <!--Icon of the page-->
            <a class="navbar-brand" href="#">
                <img src="../css/image-gallery/navbarLogoIcon.jpg" width="30" height="30" class="d inline-block align-top"
                    alt="A Thief Stole the Brand">
                Joker_LotusZero
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Options of the navbar-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/activities.html">Schedule of activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/academic.html">Academic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/confidants.html">Confidants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/skills.html">Skills</a>
                    </li>
                </ul>
            </div>
        </nav>
    </head>

    <div class="container">
                
    </div>

    <!--Complementing with certain JS libraries-->
    <script src="../js/jquery/jquery.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/popperjs/popper.js"></script>
    <script src="../css/bootstrap/bootstrap.min.js"></script>
</body>

</html>